eric_ml_model/
# note: just a small architecture to conceptualize programming workflow, uses significantly more prebuilt libraries and tools.
# ZERO code will be drawn from this and the creator prefers it be kept private
